{% extends 'ckanext_pages/edit_base.html' %}

{% block subtitle %}{{ _('Data Science Feature Inventory Use Case') }}{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle icon-info-sign"></i>
      {{ _('Data Science Feature Inventory Use Case') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Adding new Data Science Feature Inventory Use Case.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
